:root {
	--accent-color: #666666;
}

a .fa {
	color: var(--accent-color);
	padding-left: 15px;
	padding-right: 15px;
}
a .fa:hover {
	color: #333333;
}

audio {
	width: 80%;
}

blockquote {
	border: 2px solid #666666;
	padding: 5%;
}

body {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100%),url("http://78.media.tumblr.com/ace910eba06d76e4295f3dba16beba26/tumblr_ovfclrVtPi1sfie3io1_1280.jpg");
  	background-size: cover;
  	background-position: center top;
	text-align: center;
	position:relative;
}

body h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

body p {
	font-family: 'Nunito', sans-serif;
	font-size: 150%;
}

ul {
	display: inline-block;
	font-size: 130%;
	list-style: none;
	text-align: left;
}
li:before {
	color: var(--accent-color);
  	content: '\f00c';
  	margin-right: 10px;
  	font-family: FontAwesome;
}

/*
.active {
	border-bottom: 3px solid var(--accent-color);
}*/

.logo {
	font-family: 'Codystar', cursive;
	font-size: 650%;
}

.navbar {
	/*border-bottom: 1px solid #cccccc;*/
}

.reel {
	padding: 5%;
}

.reviews {
	padding: 3% 0 5% 0;
}
.reviews p{
	font-size: 100%;
}

.why {
	padding: 5%;
}
.why .fa {
	color: var(--accent-color);
	padding: 10% 0% 5% 0%;
}
.why p {
	padding: 0 5%;
}

@media (max-width: 767px) {
    body {
        background-size: 768px;
    }
}