:root {
	--accent-color: #229988;
}

a .fa {
	color: var(--accent-color);
	padding-left: 15px;
	padding-right: 15px;
}
a .fa:hover {
	color: #666666;
}

blockquote {
	border: 2px solid #666666;
	padding: 5%;
}

body {
	/*background-image: url("../images/background.jpg");*/
  	background-size: 100%;
  	background-position: center top;
	text-align: center;
	position:relative;
}

body h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}

body p {
	font-family: 'Nunito', sans-serif;
}

ul {
	list-style-position: inside;
}

.active {
	border-bottom: 3px solid var(--accent-color);
}

.logo {
	font-family: 'Codystar', cursive;
	font-size: 650%;
}

.navbar {
	/*border-bottom: 1px solid #cccccc;*/
}

.reel {
	padding: 5%;
}

.reviews {
	padding: 5%;
}

.why {
	padding: 5%;
}
.why .fa {
	color: var(--accent-color);
	padding: 5% 0% 10% 0%;
}
.why p {
	padding: 0 5%;
}

@media (max-width: 767px) {
    body {
        background-size: 768px;
    }

    .reel {
    	padding: 20%;
    }

	.why .fa {
		padding: 5% 0%;
	}
}